<%= form_with(model: @answer, local: true) do |form| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> 
      　　prohibited this question from being saved:</h2>
      <ul>
      <% answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= form.hidden_field :question_id, {value: answer.question_id } %>
  
  
  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title, id: :question_title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :question_content %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name, id: :question_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
