
<!--  insert position  -->

<!DOCTYPE html>
<html>
  <head>
    <title>ダイエット　QA　掲示板</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    
  

		<!-- meta -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>
		
		<!-- google fonts -->
		<link href='http://fonts.googleapis.com/css?family=Raleway:500,300' rel='stylesheet' type='text/css'>
		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Serif:regular,bold"/>
		
		<!-- css -->
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/font-awesome.min.css">
		<link rel="stylesheet" href="assets/css/style.css" media="screen"/>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.js"></script>
			<script src="assets/js/respond.js"></script>
		<![endif]-->

		<!--[if IE 8]>
	    	<script src="assets/js/selectivizr.js"></script>
	    <![endif]-->
    
    
     
    
  </head>

  <body>
     
     <!--  header parts insert  -->
     	<header class="top-header shows">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-xs-5 col-sm-4 header-logo">
						<br>
						 
						　<h1 class="logo">ダイエット　QA　掲示板 <span class="logo-head"></span></h1>
						
					</div>

					<div class="col-md-8 col-md-offset-1 col-xs-7">
						
						  	<div class="container-fluid nav-bar">
						    <!-- Brand and toggle get grouped for better mobile display -->
							    <div class="navbar-header">
							      	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								        <span class="sr-only">Toggle navigation</span>
								        <span class="icon-bar"></span>
								        <span class="icon-bar"></span>
								        <span class="icon-bar"></span>
							      	</button>
							    </div>

						    	<!-- Collect the nav links, forms, and other content for toggling -->
							    <div class="collapse navbar-collapse navbar-def" id="bs-example-navbar-collapse-1">
							      
							      	<ul class="nav navbar-nav navbar-right">
							        	<li>
										    <%= link_to 'Home', root_path %>
										</li>
										<li>
											<a href="#about"><i class="fa fa-bookmark"></i> About</a>
										</li>
										<li>
											<a href="#portfolio"><i class="fa fa-bookmark"></i> Portfolio</a>
										</li>
										<li>
											<a href="#services"><i class="fa fa-tasks"></i> Service</a>
										</li>
										<li>
											<a href="#blog2"><i class="fa fa-wordpress"></i> Blog</a>
										</li>
										<li>
											<%= link_to 'questions', questions_path  %>
										</li>
							      	</ul>
							    </div><!-- /navbar-collapse -->
						  	</div><!-- / .container-fluid -->
						
					</div>
				</div>
			</div>
		</header>

		<div id="wrapper">
			
			<div id="header" class="content-block">
				
				<section class="center">
					<div class="slogan">
						Question & Answer
					</div>
					<div class="secondary-slogan">
						ダイエット体験談　質問と回答掲示板
					</div>
				</section>
			</div><!-- header -->

     <!--  header parts insert -->
     
      
      <!-- contents insert  -->
        
        
<p id="notice"><%  notice %></p>


    <div class="container">

    <h1>スレッド一覧</h1>


    <table>
      <thead>
        <tr>
          <th>タイトル</th>
          <th>質問内容</th>
    　　　<th></th>
        </tr>
      </thead>

     <tbody>
        <% @questions.each do |question| %>
          <tr>
            <td><%= question.title %></td>
            <td><%= question.content %></td>
            <td><%= link_to '詳細を見る' , question,class:'btn btn-lg' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

        <br>

        <%= link_to '新しい質問を投稿する', new_question_path, class:'btn btn-lg btn-info' %>
        
    
    </div> <!--  div.container  ☆ -->  
    
      
      <%= content_tag(:div, "",style:"margin-bottom:30px") %>
      
　　　　　　<!--  Parallax parts  -->
			<div class="content-block parallax" id="parallax">
				<div class="container">
					<h3 class="call-action pull-left"></h3>
					
					<%= link_to 'サイトのトップへ戻る',root_path , class:"pull-right btn btn-o-white btn-lg" %>
				</div>
			</div><!-- #parallax -->
            <!--  Parallax parts  -->
            
            
　　　<%= content_tag(:div, "",style:"margin-bottom:30px") %>

        
    <!-- insert position  -->
    
			<div class="content-block" id="footer">
				<div class="container">
					<div class="row">
							<div class="col-sm-4 blog-post">
								
								<h2 class="footer-block">Have a question</h2>
								<p>Praesent lacinia dapibus, accumsan vesti bulum. Pellen tesque molestie mollis.</p>

								<p>Mauris nec ligula dui, fermentum nisl ut magna dolor, rhoncus wisi. In lacus sagittis luctus, nisl eros, sit amet tempor et, accumsan eget, pede. Suspendisse est. Ut rhoncus eu, pede. Vestibulum ante ipsum dolor lorem, iaculis mi. Pellentesque eu urna eget dolor. Duis luctus a, dolor. Duis ac sapien. 
								</p>

								<p>Estibulum dapibus, maurimalesfames ac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi. Aliquam erat ac ipsum. Integer aliquam purus ultricies gravida vitae...</p>
							</div>
							<div class="col-sm-4 blog-post">
								<h2 class="footer-block">Leave us a message</h2>
								<form action="contact-form.php" id="contactForm" method="post" name="contactform" class="" role="form">
									<div class="form-group">
								    	<input type="text" class="form-control form-control-white" id="name" name="name" placeholder="Your Name" required>
								  	</div>
								    <div class="form-group">
								    	<input type="email" class="form-control form-control-white" id="email" name="email" placeholder="Enter email" required>
								    </div>
								    <div class="form-group">
								    	<textarea class="form-control form-control-white" id="message" name="massage" placeholder="Write Something" required></textarea>
								    </div>
								    <div id="contactFormResponse"></div>
								    <div class="form-group">
								    	<input id="cfsubmit" type="submit" class="text-center btn btn-o-white" value="Say Hello">
								  	</div>
								</form>
							</div>
							<div class="col-sm-4 blog-post">
								
								<h2 class="footer-block">Contact Details</h2>
								<ul>
									<li class="address-sub"><i class="fa fa-map-marker"></i>Office Address</li>
										<p>
											Blabla Parkway, P.o Box 353 Mountain View. United States of America. 
										</p>
									<li class="address-sub"><i class="fa fa-phone"></i>Phone</li>
										<p>
											Local: 1-800-123-hello<br>
											Mobile: 1-800-123-hello
										</p>
									<li class="address-sub"><i class="fa fa-envelope-o"></i>Email Address</li>
										<p>
											<a href="mailto:info@themewagon.com">info@themewagon.com</a><br>
											<a href="http://www.themewagon.com/">www.themewagon.com</a>
										</p>


								</ul>
								<div class="social">
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-instagram"></i></a>
									<a href="#"><i class="fa fa-pinterest-p"></i></a>
									<a href="#"><i class="fa fa-google-plus"></i></a>
									<a href="#"><i class="fa fa-skype"></i></a>
								</div>
								
							</div>
						</div>
				</div>
			</div>
			<div class="content-block footer-bottom" id="footer">
				<div class="container">
					<div class="row">
						<div class="col-xs-6">&copy; Copyright Nevada Plus 2015</div>
						<div class="col-xs-6 text-right">Theme by <a href="http://www.themewagon.com/" target="_blink">ThemeWagon</a></div>
					</div>
				</div>
			</div><!-- #footer -->
			

    <!-- insert position -->
        
        

 </div>
 
      <!--  contents  insert -->
  </body>
</html>

